# Dependency directories
node_modules
dist

# Git & IDE
.git
.gitignore
.vscode
readme.md
.prettierrc

# Docker configs
.dockerignore
Dockerfile*
compose.*.yaml
docker-compose.\*.yaml

# Misc
\*.log